html, body{
    height :100%;
}
#side_bar{
    display: inline-block;
    width: 15%;
    height:100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: x-large;
    position: fixed;
    left:0%;
   top:0%;
z-index: 1;
    background-color: rgb(25, 181, 192);
}
#side_bar ul {
    padding: 5%;
}
#side_bar ul li a,#side_bar ul li a:hover{
    margin:5%;
    display:block;
    padding:4%;
    color:black;
    size:5%;
    overflow: visible;
    font-family: sans-serif;
    font-weight:bold;
    text-shadow: 1px 1px 1.5px;
    
}
#side_bar ul li a:hover{
    text-shadow: 1px 1px 2px whitesmoke;

}
#intro{

    width:85%;
    height:100%;
    display: inline-block;
    position:relative;
    left:15.5%;
overflow:scroll;
background-color: white;
text-shadow: 1px 1px ;
    
}
#main_photo{
max-height:30%;
max-width: 30%;
height:auto;
width:auto;
bottom: 22%;
position: relative; 
top:0%;
left:3%;
display: inline-block;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#main_intro span{
font-size:xx-large;
color: black;
text-decoration: underline;

}
#main_intro{
    height: 50%;
    width:45%;
    position :relative;
    top:0%;
font-family: sans-serif;
color:rgb(74,74,74,0.7);
size: 30%;
    margin:2%;
    padding:2%;
    line-height: 2;
    left:10%;
    font-size: x-large;
    display: inline-block;
}
#main_intro span{
    align:center;
    position: relative;
    left:50%;
    size:200%;
    text-shadow:1px 1px;
}
#intro span img{
    position: absolute;
    left:0.5%;
    height:3%;
    
}

#side_bar button{
    border:solid 2px black;
    left:90%;
    position: relative;
}
#skills h1:before, 
#skills h1:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid black; 
    margin: auto; 
   

} 
#skills h1,#achievements h1
{
    position: relative;
    left:50%;
    color: black;
    text-decoration: underline;
    text-shadow: 1px 1px ;
}
#skills{
    height: 50%;
    width:45%;
    line-height: 2;
    position :relative;
    top:10%;
font-family: sans-serif;
color:gray;
size: 50%;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
margin-bottom: 10%;
    padding:10%;
    left:15.5%;
    font-size: large;
    display: inline-block
    

}
.slider{
    background-color:orangered;
    width:10px;
    height:3px;
    border:2px solid black;
    border-end-end-radius: 10%;
}